.header {
    background-color: #673AB7;
    display: block;
    padding: 50px;
    margin-bottom: 20px;
    width: 95%;
    height: 10%;
    box-shadow: 0px 0px 25px 0px black;
    text-align: center;
    color: white;
    font-weight: lighter;
}
h1 {
    padding-top: 10px;
    font-weight: lighter;
}