.header {
    background-color: #03DAC6;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 8.5%;
    box-shadow: 0px 0px 25px 0px black;
    text-align: center;
    color: black;
}