<div class="searchtools">
    <!-- the loadAnimeList() function is declared in anime-name-list-component.ts -->
    <!-- <input [(ngModel)]="inputUsername" class="load" placeholder="Username"/> -->
    <mat-form-field appearance="fill" class="menuItem">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter username" [(ngModel)]="inputUsername">
      </mat-form-field>
    <!-- <button (click)="load()" class ="load">LOAD</button> -->
    <mat-form-field appearance="fill" class="dropdown menuItem">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="selectedStatus">
            <mat-option *ngFor="let x of statusList" [value]="x">
                {{x}}
            </mat-option>
        </mat-select>   
    </mat-form-field>
    <mat-form-field appearance="fill" class="dropdown menuItem">
        <mat-label>Sort by</mat-label>
        <mat-select [(value)]="selectedSortBy">
            <mat-option *ngFor="let x of sortByList" [value]="x">
                {{x}}
            </mat-option>
        </mat-select>   
    </mat-form-field> 
    <button class="button menuItem" mat-stroked-button (click)="load()">Load</button>
</div>
<div class="container">
    <div class="gallery">
        <!-- the animeList variable is declared in anime-name-list-component.ts -->
        <li *ngFor="let anime of animeList">
            <figure  class="image">
                <img class ="gallery_image_sub" src={{anime.image_url}} style="width:180px; height:252px;">
            </figure>
            <div class="details">
                <p class="score">Score: {{anime.score}}</p>
                <p class="title" matTooltip="{{anime.title}}">{{anime.title | truncation:[35] }}</p>
            </div>
        </li>
    </div>
</div>