/* 
    This file is good for setting global styles for the project, 
    in this case I'm just using it to set the background
*/
html {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
} 

body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
